/* Layout Import */

@import "./layout.css";

/* Basic global styling and variables */

:root {
  --white-grey: #ededed;
  --dark-blue: #667091;
  --c1: #757575;
  --c2: #a488b8;
  --c3: #a16c9b;
  --c4: #b88899;
  --c5: #7c84a1;
}

html {
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background-color: var(--white-grey);
}

/* Navbar */

nav {
  background-color: var(--c5);
}

nav ul li {
  color: white;
}

nav ul li a {
  color: white;
  transition: background-color 0.1s;
}

nav ul li a:hover {
  background-color: var(--dark-blue);
}

/* Footer */

footer {
  background-color: var(--c1);
}

footer > div ul li,
footer > div ul li * {
  color: white;
}

footer > span {
  color: white;
}

/* Anchors */

a {
  font-weight: bold;
  color: var(--c3);
}

/* Background Color Classes */

.c1 {
  background-color: var(--c1);
}

.c2 {
  background-color: var(--c2);
}

.c3 {
  background-color: var(--c3);
}

.c4 {
  background-color: var(--c4);
}

.c5 {
  background-color: var(--c5);
}

/* Text Color Classes */

.c1-text {
  color: var(--c1);
}

.c2-text {
  color: var(--c2);
}

.c3-text {
  color: var(--c3);
}

.c4-text {
  color: var(--c4);
}

.c5-text {
  color: var(--c5);
}
